.Filter{
    width: 300px;
    /* border: 1px double red; */
}
.Filter .Control{
    width: 100%;
    /* border: 1px solid blue; */
}
.Filter .listSting{
    width: 100%;
    height: auto;
    margin: 10px 0 0 0;
}