.Hall {
  display: inline-block;
}
.Place {
  display: inline-block;
  width: 20px;
  height: 30px;
  border: 1px solid gray;
  background-color: gray;
  margin: 5px;
}
.PlaceBusy {
  display: inline-block;
  width: 20px;
  height: 30px;
  border: 1px solid red;
  background-color: red;
  margin: 5px;
}
