.Mobile{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Mobile>.Company{
    size: 20px;
    text-align: center;
    font-weight: bold;
    color: red;
}
.Mobile .Heading{
    background-color:blue;
    /* border-right:3px double green;
    border-left:3px double green; */
}
.AddLabel{
    margin: 10px;
}
.AddInput{
    margin-left: 5px;
}
