.Mobile .Npp .Pict{
    width: 100px;
    height: 100px;
}
.Mobile>.Clients{
    border-style: double;
    border-color: red;
}

.Mobile .Npp{
    border-bottom: black;
    background-color:yellow;
}
.Mobile .SelClients{
    background-color:red;
    
}
.Mobile .conditionactive{
    background-color:green
}
.Mobile .conditionblock{
    background-color:orange
}
